<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>index.html</title>
<link rel="stylesheet" href="../public/css/index.css" type="text/css">
</head>
<body>
    <div id="wrapper">
        <div id="canvas"></div>
        <p id="data">hello</p>
        <input type="hidden" value="<%= roomID%>" id="roomID">
    </div><!--wrapper-->
    
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="../public/js/three.min.js"></script>
<script src="../public/js/DeviceOrientationControls.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="../public/js/desplayBox.js"></script>
<script src="../public/js/box_effect.js"></script>
<script src="../public/js/main_for_SM.js"></script>
</body>
</html>